
<!DOCTYPE html>
<html>

<h1> This is a form, and this is my title: </h1>

<p> Entre as suas informacoes de usuario: </p>

<form>
  <label for="first_name">Nome:</label><br>
  <input type="text" id="first_name" name="first_name"><br>
  <label for="last_name">CPF (note que esse nao e um site seguro e isso eh apenas um teste de desenvolvimento, nao aconselho que entre o seu cpf verdadeiro. ):</label><br>
  <input type="number" id="cpf" name="cpf">
</form>

<p> Here should come the first question text, lets find out later how to insert it. </p>

<form>

    <input type="radio" id="a" name="alternative" value="a">
    <label for="a">here we should have the respective alternative text.</label><br>

    <input type="radio" id="b" name="alternative" value="b">
    <label for="a">here we should have the respective alternative text.</label><br>

    <input type="radio" id="c" name="alternative" value="c">
    <label for="a">here we should have the respective alternative text.</label><br>

    <input type="radio" id="d" name="alternative" value="d">
    <label for="a">here we should have the respective alternative text.</label><br>

    <input type="radio" id="e" name="alternative" value="e">
    <label for="a">here we should have the respective alternative text.</label><br>

    <input type="submit" value="Gravar Resposta">

</form>

<p> We should have more questions here</p>

</html>
